doctype html
html(lang="ja")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title public_yusuke
        link(rel="stylesheet", href="css/app.css")
        script(src="js/app.js")
        script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-143785591-1")
    body
        header.hero.is-fullheight.is-default.is-bold
            nav.navbar(role="navigation", aria-label="main navigation")
                .navbar-brand
                    a.navbar-item(href="/index.html")
                        p 🇯🇵
                    a.navbar-item(href="/index-en-US.html")
                        p 🇺🇸
                    a.navbar-item(href="assets/old")
                        p #{$T.navbar.old_website}
            .hero-body
                .container
                    .columns.is-vcentered.is-mobile
                        .column.is-5.is-offset-1.landing-caption
                            span #{$T.hero.caption}
                            h1.title.is-1.is-bold.is-spaced #{$T.hero.name}
                        .column.is-4.is-offset-1
                            figure.image.is-4by4
                                img.lazy.img_icon(src="assets/icon.png", alt="public_yusuke's icon", style="display: block;")
        
        main
            .container
                section.section#summary
                    h1.title #[i.fas.fa-book.fa-fw] #{$T.summary.title}
                    h2.subtitle #{$T.summary.subtitle}
                    .summary-list
                        article.media
                            figure.media-left
                                i.fas.fa-birthday-cake.fa-fw
                            .media-content
                                strong #{$T.summary.birthday}
                                p #{$T.summary.birthday_date}
                        article.media
                            figure.media-left
                                i.fas.fa-school.fa-fw
                            .media-content
                                strong #{$T.summary.affiliation}
                                p #{$T.summary.affiliation_name}
                        article.media
                            figure.media-left
                                i.fas.fa-graduation-cap.fa-fw
                            .media-content
                                strong #{$T.summary.department}
                                p #{$T.summary.department_name}
                section.section#skills
                    h1.title #[i.fas.fa-cog.fa-fw] #{$T.skills.title}
                    h2.subtitle #{$T.skills.subtitle}
                    .columns
                        .column
                            img.is-size-2(src="assets/dlang.svg")
                            br
                            h4.is-size-4 D
                            .tag.is-light.is-primary #{$T.skills.d.love}
                            .tag.is-light.is-success #{$T.skills.d.desc}
                        .column
                            i.is-size-2.devicon-typescript-plain.colored
                            br
                            h4.is-size-4 TypeScript
                            .tag.is-light.is-info VSCode
                            .tag.is-light.is-success #{$T.skills.typescript.desc}
                        .column
                            i.is-size-2.devicon-csharp-plain.colored
                            br
                            h4.is-size-4 C#
                            .tag.is-light.is-info Unity
                            .tag.is-light.is-success #{$T.skills.csharp.desc}
                        .column
                            i.is-size-2.devicon-cplusplus-plain.colored
                            br
                            h4.is-size-4 C++
                            .tag.is-light.is-info Qt
                            .tag.is-light.is-success #{$T.skills.cpp.desc}
                    .columns
                        .column
                            i.is-size-2.devicon-linux-plain.colored
                            br
                            h4.is-size-4 Linux
                            .tag.is-light.is-info Debian
                            .tag.is-light.is-info Arch Linux
                            .tag.is-light.is-success #{$T.skills.linux.desc}
                        .column
                            i.is-size-2.devicon-css3-plain.colored
                            br
                            h4.is-size-4 CSS
                            .tag.is-light.is-info Bootstrap
                            .tag.is-light.is-info Bulma
                            .tag.is-light.is-success #{$T.skills.css.desc}
                        .column
                            img(src="assets/LaTeX_logo.svg" width="90px")
                            br
                            h4.is-size-4 LaTeX
                            .tag.is-light.is-info Sublime Text 3
                            .tag.is-light.is-success #{$T.skills.latex.desc}
                        .column
                            i.is-size-2.devicon-twitter-plain.colored
                            br
                            h4.is-size-4 Twitter
                            .tag.is-light.is-info TweetDeck
                            .tag.is-light.is-success #{$T.skills.twitter.desc}
                section.section#links
                    h1.title #[i.fas.fa-link] #{$T.links.title}
                    h2.subtitle #{$T.links.subtitle}
                    .columns.is-mobile
                        .column
                            a.twitter(href="https://twitter.com/public_yusuke", target="_blank")
                                i.is-size-2.fab.fa-twitter
                                p Twitter
                        .column
                            a.github(href="https://github.com/private-yusuke", target="_blank")
                                i.is-size-2.fab.fa-github
                                p GitHub
                        .column
                            a.atcoder(href="https://atcoder.jp/users/private_yusuke", target="_blank")
                                i.is-size-2.fas.fa-sitemap
                                p AtCoder
                        .column
                            a.hatenablog(href="https://private-yusuke.hatenadiary.jp/", target="_blank")
                                i.is-size-2.fas.fa-pen-fancy
                                p hatenablog
                section.section#history
                    h1.title #[i.fas.fa-history.fa-fw] #{$T.history.title}
                    h2.subtitle #{$T.history.subtitle}
                    .timeline
                        .timeline-header
                            span.tag.is-medium.is-primary #{$T.history.start}
                        .timeline-item.is-danger
                            .timeline-marker.is-danger
                            .timeline-content
                                p.heading #{$T.history.dict["birth"].date} :: #{$T.history.dict["birth"].age}
                                p #[i.fas.fa-birthday-cake] #{$T.history.dict["birth"].title}
                        .timeline-item.is-primary
                            .timeline-marker.is-primary
                            .timeline-content
                                p.heading #{$T.history.dict["pcstart"].date} :: #{$T.history.dict["pcstart"].age}
                                p #[i.fas.fa-desktop] #{$T.history.dict["pcstart"].title}
                        .timeline-header
                            span.tag.is-primary 2010
                        .timeline-item
                            .timeline-marker
                            .timeline-content
                                p.heading #{$T.history.dict["firstprog"].date} :: #{$T.history.dict["firstprog"].age}
                                p #[i.fas.fa-desktop] #{$T.history.dict["firstprog"].title}
                                p.timeline-desc #{$T.history.dict["firstprog"].desc}
                        .timeline-item.is-info
                            .timeline-marker.is-info
                            .timeline-content
                                p.heading #{$T.history.dict["mcmodding"].date} :: #{$T.history.dict["mcmodding"].age}
                                p #[i.devicon-java-plain] #{$T.history.dict["mcmodding"].title}
                                p.timeline-desc #{$T.history.dict["mcmodding"].desc}
                        .timeline-header.some-happnened
                            div
                                pre(style="padding: 0.5rem;") #{$T.history.misc}
                        .timeline-item
                        .timeline-header
                            span.tag.is-primary 2018
                        .timeline-item.is-warning
                            .timeline-marker.is-warning
                            .timeline-content
                                p.heading #{$T.history.dict["chibauniv_event"].date} :: #{$T.history.dict["chibauniv_event"].age}
                                p #[i.fas.fa-school] #{$T.history.dict["chibauniv_event"].title}
                                p.timeline-desc #{$T.history.dict["chibauniv_event"].desc}
                                    a.timeline-link(href="https://www.cfs.chiba-u.jp/koudai-renkei/event/history/2018/houkoku30.html", target="_blank")
                                        | #[i.fas.fa-external-link-alt] #{$T.history.dict["chibauniv_event"].link}
                        .timeline-header
                            span.tag.is-primary 2019
                        .timeline-item.is-success
                            .timeline-marker.is-success
                            .timeline-content
                                p.heading #{$T.history.dict["atcyan"].date} :: #{$T.history.dict["atcyan"].age}
                                p #[i.fas.fa-pencil-ruler] #{$T.history.dict["atcyan"].title}
                        .timeline-item.is-info
                            .timeline-marker.is-info
                            .timeline-content
                                p.heading #{$T.history.dict["cit_event"].date}
                                p #[i.fas.fa-school] #{$T.history.dict["cit_event"].title}
                                p.timeline-desc #{$T.history.dict["cit_event"].desc}
                                    a.timeline-link(href="https://www.chiba-c.ed.jp/funako/fttp_kousin/ssh/2019_0316_3b.pdf")
                                        | #[i.fas.fa-external-link-alt] #{$T.history.dict["cit_event"].link}
                        .timeline-item.is-success
                            .timeline-marker.is-success
                            .timeline-content
                                p.heading #{$T.history.dict["eikenpre1"].date}
                                p #[i.fas.fa-language] #{$T.history.dict["eikenpre1"].title}
                        .timeline-item.is-warning
                            .timeline-marker.is-warning
                            .timeline-content
                                p.heading #{$T.history.dict["pck2019ho"].date}
                                p #[i.fas.fa-pencil-ruler] #{$T.history.dict["pck2019ho"].title}
                                p.timeline-desc #{$T.history.dict["pck2019ho"].desc}
                                    a.timeline-link(href="http://web-ext.u-aizu.ac.jp/pc-concours/2019/final/f_finalteam2019.html")
                                        | #[i.fas.fa-external-link-alt] #{$T.history.dict["pck2019ho"].link}
                        .timeline-item.is-danger
                            .timeline-marker.is-danger
                            .timeline-content
                                p.heading #{$T.history.dict["tsukuba_in"].date} :: #{$T.history.dict["tsukuba_in"].age}
                                p #[i.fas.fa-university] #{$T.history.dict["tsukuba_in"].title}

                        .timeline-footer
                            span.tag.is-medium.is-primary #{$T.history.current}
        footer.footer.footer-dark
            .container
                .columns
                    .column.footer-column

                    .column.footer-column
                        small Copyright &copy; public_yusuke 2020.
                    .column.footer-column
                        .footer-header
                            a(href="https://bulma.io")
                                img(src="https://bulma.io/images/made-with-bulma--white.png", alt="Made with Bulma", width="128", height="24")
    script(src="js/bundle.js")